name: Build and Deploy
on:
    push:
        branches:
            - master 
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout
              uses: actions/checkout@v2

            - name: lock npm version
              uses: actions/setup-node@v2
              with:
                  node-version: 24
            
            - name: Install and Build
              run: |
                  npm i -g pnpm
                  pnpm run init
                  pnpm run docs:build
              env:
                  NODE_OPTIONS: --max_old_space_size=4096

            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@3.7.1
              with:                  
                  BRANCH: gh-pages # The branch the action should deploy to.
                  FOLDER: docs/.vuepress/dist # The folder the action should deploy.
                  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

            

